@using TutoringHome.Web.Models;
@model TutoringHome.Web.Models.TeacherInfoModel
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>详细信息</title>
    <script data-main="@Url.Content("~/Resource/js/home.js?ts="+ ViewBag.TimeStamp)" src="@Url.Content("~/Resource/js/lib/require.js")"></script>
    <link href="@Url.Content("~/Resource/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Resource/css/bootstrap-theme.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Resource/css/theme.css")" rel="stylesheet">
    <link href="@Url.Content("~/Resource/css/jquery-ui/all.css")" rel="stylesheet">
</head>
<body role="document">
    <div class="container-fluid theme-showcase" role="main">
        <div class="panel-body">
            <form class="form-horizontal" name="repository-form" action="" method="post" role="form">
                <div class="form-group">
                    <label for="Name" class="col-sm-2 control-label">姓名<span style="color:red">*</span></label>
                    <div class="col-sm-5">
                        @Html.TextBoxFor(m => Model.Name, new { @class = "form-control", @value = Model.Name, @readonly = "readonly", @id = "txt_name" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="Sex" class="col-sm-2 control-label" style="display:block;float:left">性别<span style="color:red">*</span></label>
                    <div class="col-sm-5" style="float:left">
                        @if (Model.Sex == TutoringHome.Web.CommonEnum.SexEnum.Male)
                        {
                            <span><input type="Radio" value="Male" name="Sex" id="radio_Male" checked="checked" disabled="disabled"><label for="Male">男</label></span>
                            <span><input type="Radio" value="Female" name="Sex" id="radio_Female" disabled="disabled"><label for="Female">女</label></span>
                        }
                        else
                        {
                            <span><input type="Radio" value="Male" name="Sex" id="radio_Male" disabled="disabled"><label for="Male">男</label></span>
                            <span><input type="Radio" value="Female" name="Sex" id="radio_Female" checked="checked" disabled="disabled"><label for="Female">女</label></span>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label for="Age" class="col-sm-2 control-label" style="display:block;float:left">年龄<span style="color:red">*</span></label>
                    <div class="col-sm-5" style="float:left">
                        @Html.TextBoxFor(m => Model.Age, new { @class = "form-control", @style = "width:70px", @id = "txt_age", @value = Model.Age, @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="Graduate" class="col-sm-2 control-label">就读/毕业院校<span style="color:red">*</span></label>
                    <div class="col-sm-5">
                        @Html.TextBoxFor(m => Model.Graduate, new { @class = "form-control", @value = Model.Graduate, @readonly = "readonly", @id = "txt_graduate" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="Major" class="col-sm-2 control-label">学习专业<span style="color:red">*</span></label>
                    <div class="col-sm-5">
                        @Html.TextBoxFor(m => Model.Major, new { @class = "form-control", @value = Model.Major, @readonly = "readonly", @id = "txt_major" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="Subject" class="col-sm-2 control-label">擅长年级与科目<span style="color:red">*</span></label>
                    <div class="col-sm-5">
                        @Html.TextAreaFor(m => Model.Subject, new { @class = "form-control", @value = Model.Subject, @readonly = "readonly", @id = "txt_subject" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="WorkTime" class="col-sm-2 control-label">上班时间<span style="color:red">*</span></label>
                    <div class="col-sm-5">
                        @if (Model.WorkTime == TutoringHome.Web.CommonEnum.WorkTimeEnum.ALL)
                        {
                            <span><input type="Radio" value="ALL" name="WorkTime" id="radio_all" checked="checked" disabled="disabled"><label for="WorkTime1">不限时间</label></span>
                            <span><input type="Radio" value="Weekend" name="WorkTime" id="radio_weekend" disabled="disabled"><label for="WorkTime2">周末</label></span>
                            <span><input type="Radio" value="Workday" name="WorkTime" id="radio_workday" disabled="disabled"><label for="WorkTime3">工作日</label></span>
                        }
                        else if (Model.WorkTime == TutoringHome.Web.CommonEnum.WorkTimeEnum.Weekend)
                        {
                            <span><input type="Radio" value="ALL" name="WorkTime" id="radio_all" disabled="disabled"><label for="WorkTime1">不限时间</label></span>
                            <span><input type="Radio" value="Weekend" name="WorkTime" id="radio_weekend" checked="checked" disabled="disabled"><label for="WorkTime2">周末</label></span>
                            <span><input type="Radio" value="Workday" name="WorkTime" id="radio_workday" disabled="disabled"><label for="WorkTime3">工作日</label></span>
                        }
                        else

                        {
                            <span><input type="Radio" value="ALL" name="WorkTime" id="radio_all" disabled="disabled"><label for="WorkTime1">不限时间</label></span>
                            <span><input type="Radio" value="Weekend" name="WorkTime" id="radio_weekend" disabled="disabled"><label for="WorkTime2">周末</label></span>
                            <span><input type="Radio" value="Workday" name="WorkTime" id="radio_workday" checked="checked" disabled="disabled"><label for="WorkTime3">工作日</label></span>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label for="Experience" class="col-sm-2 control-label">教育经验<span style="color:red">*</span></label>
                    <div class="col-sm-5">
                        @Html.TextAreaFor(m => Model.Experience, new { @class = "form-control", @value = Model.Experience, @readonly = "readonly", @id = "txt_experience" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="Evaluation" class="col-sm-2 control-label">自我评价</label>
                    <div class="col-sm-5">
                        @Html.TextAreaFor(m => Model.Evaluation, new { @class = "form-control", @value = Model.Evaluation, @readonly = "readonly", @id = "txt_evaluation" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="Domicile" class="col-sm-2 control-label">现居住地<span style="color:red">*</span></label>
                    <div class="col-sm-5">
                        @Html.TextBoxFor(m => Model.Domicile, new { @class = "form-control", @value = Model.Domicile, @readonly = "readonly", @id = "txt_domicile" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="Mobile" class="col-sm-2 control-label">联系电话<span style="color:red">*</span></label>
                    <div class="col-sm-5">
                        @Html.TextBoxFor(m => Model.Mobile, new { @class = "form-control", @value = Model.Mobile, @readonly = "readonly", @id = "txt_mobile" })
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
